In [5]:
%%bigquery

SELECT * FROM `marketing-359704.purchase_history.online_retail` LIMIT 1000

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 674.54query/s]
Downloading: 100%|██████████| 1000/1000 [00:01<00:00, 878.30rows/s]

,invoice_no,item_no,item_description,quantity,invoice_date,unit_price,customer_id,country
0,571035,21238,RED RETROSPOT CUP,8,2011-10-13 12:50:00+00:00,0.85,12446.0,RSA
1,571035,21243,PINK POLKADOT PLATE,8,2011-10-13 12:50:00+00:00,1.69,12446.0,RSA
2,571035,23240,SET OF 4 KNICK KNACK TINS DOILY,6,2011-10-13 12:50:00+00:00,4.15,12446.0,RSA
3,571035,23209,LUNCH BAG VINTAGE DOILY,10,2011-10-13 12:50:00+00:00,1.65,12446.0,RSA
4,571035,23201,JUMBO BAG ALPHABET,10,2011-10-13 12:50:00+00:00,2.08,12446.0,RSA
...,...,...,...,...,...,...,...,...
995,557759,23171,REGENCY TEA PLATE GREEN,12,2011-06-22 13:52:00+00:00,1.65,14156.0,EIRE
996,557759,23169,CLASSIC GLASS COOKIE JAR,6,2011-06-22 13:52:00+00:00,4.15,14156.0,EIRE
997,557759,23172,REGENCY TEA PLATE PINK,12,2011-06-22 13:52:00+00:00,1.65,14156.0,EIRE
998,557759,23173,REGENCY TEAPOT ROSES,2,2011-06-22 13:52:00+00:00,9.95,14156.0,EIRE
999,557759,23174,REGENCY SUGAR BOWL GREEN,6,2011-06-22 13:52:00+00:00,4.15,14156.0,EIRE