# 参考

https://www.youtube.com/watch?v=uBy7F4Wd9cE  
https://www.youtube.com/watch?v=fFSGPciIkfI&t=528s  
https://www.youtube.com/watch?v=RGQETby444E&t=969s

# ライブラリ

In [12]:
# from google.colab import drive
# drive.mount('/content/drive')

import gspread
from oauth2client.service_account import ServiceAccountCredentials
from gspread_dataframe import set_with_dataframe
import pandas as pd

# 設定

In [14]:
SP_CREDENTIAL_FILE = '../../google_sheets_api_test.json'
SP_CORP = ['https://www.googleapis.com/auth/drive',
           'https://spreadsheets.google.com/feeds']
SP_SHEET_KEY = '1trxHvwKXZs6AAMvUVUfqEVDqS-ycf-w7odf1B-S9KME'
SP_SHEET = 'test'

In [15]:
credentials = ServiceAccountCredentials.from_json_keyfile_name(SP_CREDENTIAL_FILE, SP_CORP)
gs = gspread.authorize(credentials)
workbook = gs.open_by_key(SP_SHEET_KEY)
worksheet = workbook.worksheet(SP_SHEET)

# データ

In [16]:
data = worksheet.get_all_values()

In [17]:
data

[['index', 'values'],
 ['1', 'a'],
 ['2', 'b'],
 ['3', 'c'],
 ['4', 'd'],
 ['5', 'e']]

In [18]:
df = pd.DataFrame(data[1:], columns=data[0])

In [19]:
df

  index values
0     1      a
1     2      b
2     3      c
3     4      d
4     5      e

In [20]:
se = pd.Series([6, 'f'], index=df.columns)
df = df.append(se, ignore_index=True)

In [21]:
df

  index values
0     1      a
1     2      b
2     3      c
3     4      d
4     5      e
5     6      f

# 書き込み

In [22]:
sheet_name = 'test2'

# シートが存在しる場合は削除し新規作成
try:
  workbook.del_worksheet(workbook.worksheet(sheet_name))
  workbook = gs.open_by_key(SP_SHEET_KEY)
except:
  pass

workbook.add_worksheet(title=sheet_name, rows=1000, cols=26)
set_with_dataframe(workbook.worksheet(sheet_name), df, include_index=False)